body {
    /*color:white;*/
    text-align: center;
}
#introPhoto {
    text-align: center;
    height: 400px;
}
h2 {
    color: green;
    text-align: center;
}
.toClasses {
    display: block;
    margin: auto;
    margin-top: 1rem;
}
.classBTN {
    border-color: black;
    display: block;
}
.toBattleGround {
    margin-top: 1rem;
}
.toBGClasses {
    margin-top: 1rem;
}
.back {
    margin-bottom: 1rem;
}
.placeForClassesGG {
    text-align: center;
}
.game {
    /*background-color: blue;*/
    height: 90%;
    width: 90%;
    border: solid 5px black;
    margin: auto;
    padding: 1rem;
    margin-right: auto;
}
.attack {
    margin-top: 1rem;
}
.Photo {
    heigh: 400px;
}
.Photo {
    height: 300px;
    width: auto;
}
